* {
  box-sizing: border-box;
}

body {
  margin: 0px;
}

.nav {
  height: 50px;
  width: 100%;
  background-color: #574040;
  position: relative;
}

.nav > .nav-header {
  display: inline;
}

.nav > .nav-header > .nav-title {
  display: inline-block;
  font-size: 22px;
  color: rgb(200, 200, 200);
  padding: 10px 10px 10px 10px;
}

.nav > .nav-btn {
  display: none;
}

.nav > .nav-links {
  display: inline;
  float: right;
  font-size: 18px;
}

.nav > .nav-links > a {
  display: inline-block;
  padding: 13px 10px 13px 10px;
  text-decoration: none;
  color: #efefef;
}

.nav > .nav-links > a:hover {
  background-color: rgba(0, 0, 0, 0.3);
}

.nav > #nav-check {
  display: none;
}

/* Media Queries */
@media (max-width:600px) {
  .nav > .nav-btn {
    display: inline-block;
    position: absolute;
    right: 0px;
    top: 0px;
  }
  .nav > .nav-btn > label {
    display: inline-block;
    width: 50px;
    height: 50px;
    padding: 13px;
  }
  .nav > .nav-btn > label:hover,.nav  #nav-check:checked ~ .nav-btn > label {
    background-color: rgba(0, 0, 0, 0.3);
  }
  .nav > .nav-btn > label > span {
    display: block;
    width: 25px;
    height: 10px;
    border-top: 2px solid #eee;
  }
  .nav > .nav-links {
    position: absolute;
    display: block;
    width: 100%;
    background-color: #333;
    height: 0px;
    transition: all 0.3s ease-in;
    overflow-y: hidden;
    top: 50px;
    left: 0px;
  }
  .nav > .nav-links > a {
    display: block;
    width: 100%;
  }
  .nav > #nav-check:not(:checked) ~ .nav-links {
    height: 0px;
  }
  .nav > #nav-check:checked ~ .nav-links {
    height: calc(100vh - 50px);
    overflow-y: auto;
  }
}


/* Income Calculator */

input:not([type=submit]):not([type=button]) {
  border-radius: 3px;
  border: 1px solid #dddddd;
  padding-left: 2px;
}

::-webkit-scrollbar { 
    display: none; 
}

input[type=button] {
  border-radius: 2px;
  border: none;
  background-color: #196fb8;
  color: white;
  padding: 2px 8px;
  font-size: 10pt;
  font-family: "roboto";
}

body{
  font-family: "roboto";
}

Table{
  border-collapse: separate !important;
}

/*general use*/

.fullWidthBar {
  width: 100%;
  height: 1px;
  background-color: #cccccc;
  margin-bottom: 6px;
}

#sectionBreak{
  width:100%;
  height:8px;
  background-color:#eee;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}

.sectionHead {
  font-size: 14pt;
}

/* Main Container*/

.SuperContainer {
  font-family: "roboto";
  color: #444444;
  width:800px;
  margin:auto;
}

.titleBarContainer {
  font-size: 18pt;
  background-color:#eeeeee;
  padding: 10px;
  border-top: 1px solid #ffffff;
  border-bottom: 1px solid #cccccc;
}
/* Add payment or income section*/

.inputsSection {
  width: 800px;
  border-spacing: 0;
}

.costContainer,
.incomeContainer {
  width: 50%;
  padding: 10px;
}


/*add income section*/

.incomeContainer {
  background-color: #c4edc4;
  border-right: 1px solid #196fb8;
}

.inputContainer {
  margin-top: 10px;
  padding: 10px;
  background-color: #eeeeee;
  border-radius: 3px;
  border-top: 1px solid #ffffff;
  border-bottom: 1px solid #cccccc;
}

.inputContainerLabels,
.inputContainerAdvancedLabel {
  font-size: 8pt;
}

/*add income advanced pullout*/

.inputContainerAdvancedLabel {
  text-decoration: none;
}

.inputContainerTable {
  border-spacing: 0;
}

.inputContainerTable tr{
  width:380px;
  height:32px;
}

#incomeAdvancedTab,
#costAdvancedTab {
  position: absolute;
  width: 340px;
  background-color: #eee;
  border-radius: 0px 0px 3px 3px;
  border-bottom: 1px solid #cccccc;
  box-shadow: 0px 3px 8px #888888;
  z-index:0;
}

.advancedTabClose {
  color: #666;
  text-decoration: none;
}

/*add cost section*/

.costContainer {
  background-color: #c9dfe6;
  border-left: 1px solid #196fb8;
}


/*custom income scheduling modal*/

#addCustomIncomeModal .modal-dialog {
  width: 340px;
}

#addCustomIncomeModalContents {
  padding: 10px;
  border-radius: 3px;
  background-color: #eeeeee;
}

#addCustomIncomeModalHead {
  font-size: 14pt;
  margin-bottom: 4px;
}

#addCustomIncomeModalSubtitles {
  font-weight: 700;
}

#addCustomIncomeModalDateTable {
  margin-bottom: 6px;
  width: 100%;
}

#addCustomIncomeModalDateTable tr {
  height: 30px;
}

#addCustomIncomeModalDateTable tr:nth-child(even) {
  background-color: #f8f8f8;
}

#addCustomIncomeModalDateTable td {
  vertical-align: middle;
}

#addCustomIncomeModalDateTable td span,
#addCustomIncomeModalRateLabel {
  font-size: 8pt;
  margin-left: 10px;
}

#addCustomIncomeModalDateTable td input[type=number] {
  width: 54px;
  margin-right: 2px;
}

#addCustomIncomeModalClose {
  position: absolute;
  right: 3px;
  top: 0;
}


/*list section*/
#variableListContiner{
  border-top: 1px solid #ffffff;
  border-bottom: 1px solid #cccccc;
  height:294px;
}

#variableListTable{
  width: 800px;
  height:100%;
  border-spacing: 0;
  background-color: #eeeeee;
  border:0;
}

#innerVariableListColumn, #innerVariableListColumnRight{
  width: 399px;
  padding: 10px;
  border:0;
  border-right:1px solid #ccc;
}

#innerVariableListColumnRight{
  border-right:0;
  border-left:1px solid #ffffff
}

.innerVariableListContainer{
  margin-bottom:8px;
  width:379px;
}

#variableListTitleTableContainer{
  width:378px;
}

#variableListInnerTableContainer{
  width:378px; 
  height:210px; 
  border:1px solid #ccc; 
  border-radius: 3px; 
  overflow-y:scroll; 
  overflow-x:hidden;
  box-shadow: inset 0 0 15px rgba(0,0,0,.1);
}

#variableListInnerTable, #variableListTitleTable{
  width:357px; 
  margin-left:10px;
  border-spacing: 0;
  border:0;
}

#variableListTitleTable{
  font-weight:bold;
}

#variableListInnerTable td, #variableListTitleTable td{
  padding:2px;
  padding-left:5px;
  padding-right:5px;
  font-size:10pt;
  font-family: "roboto";
  color: #444444;
}

#variableListInnerTable tr:nth-child(even){
  background-color: #f8f8f8;
}

#variableListInnerTable td:nth-child(3){
  color: #196fb8;
}

/*simulate finance section*/
#simulateFinanceBar {
  border-top: 1px solid #999999;
  border-bottom: 1px solid #222222;
  background-color:#444;
  width: 800px;
  text-align: left;
  padding:10px;
  padding-left:20px;
}

#simulateFinanceBar table{
  margin:auto;
}

#simulateFinanceBar td{
  padding-right:20px;
  color:white;
}

#simulateFinanceBar input[type=date]{
  color:#333;
}

#simulateFinanceBar input[type=button]{
  width:160px;
  box-shadow: 0 0 5px rgba(0,0,0,.3);
}

#simulateFinanceBar input[type=button]:hover{
  animation: pulse 2s infinite;
}

@keyframes pulse {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(0,75,255, 1);
  }
  70% {
      -webkit-box-shadow: 0 0 0 20px rgba(0,75,255, 0);
  }
  100% {
      -webkit-box-shadow: 0 0 0 0 rgba(0,75,255, 0);
  }
}

/*report section*/
#weeklyReportContainer{
  width:800px;
  background-color:#ececec;
  padding-bottom:10px;
  padding-top:10px;
}

#weeklyReportTitlesContainer{
  width:1px;
  height:100%;
}

#weeklyReportTitlePlaceholder{
  font-size:8pt !important;
  height:41px;
  border:none !important;
}

#weeklyReportTitles{
  width:80px;
}

#weeklyReportTitles td{
  padding:2px;
  padding-left:20px;
  font-size:10pt;
  font-weight:bold;
  font-family: "roboto";
  color: #444444;
}

#weeklyReportTableContainer{
  width:700px;
  overflow-x:scroll;
  box-shadow: inset 0 0 20px rgba(0,0,0,.1);
  border:1px solid #ccc; 
  border-radius: 3px;
}

/* #weeklyReportTable{
} */

#weeklyReportColumnHead{
  border-bottom:1px solid #ccc;
  font-size:8pt !important;
  padding-top:5px !important;
  padding-bottom:5px !important;
  color:#444 !important;
  background-color:#e4e4e4 !important;
  
}

#weeklyReportTable td{
  padding:2px;
  padding-left:5px;
  padding-right:5px;
  width:60px;
  font-size:10pt;
  font-family: "roboto";
  color: #444444;
  text-align:center;
}

#weeklyReportTable tr:nth-child(even){
  background-color: #f8f8f8;
}